$bright-green: #00FF41;
$dark-green: #003B00;
$whitesmoke: #f5f5f5;

$folderNameColor: #f5f5f5;
$borderColor: black;
$backgroundColor: #151b26;
$borderStyle: 1px solid $borderColor;
$borderStyle: none;


.drive__container {
  //overflow: scroll;
  //height:100vh;
  //margin-bottom:4rem;
  .refresh-folder-icon__container {

    $icon-width: 10px;
    min-width: $icon-width;
    color: white;
    cursor: pointer;
    margin-right: 15px;
    &:hover, &:focus {
      color:darkcyan;
    }
  }



  background: $backgroundColor;


  .drive--name {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.75rem;
    align-items: center;
    .icon-folder {
      color: $folderNameColor;
      align-self: center;
      margin-right: 0.5rem;
    }
    button {
      outline: none;

      display: flex;
      justify-content: flex-start;
      align-items: center;



      color: $folderNameColor;
      background-color: $backgroundColor;
      text-align: left;
      border-style: none;

      &:first-of-type {
        border-top: $borderStyle;
      }

      width: 100%;
      //height:100%;
      //padding:1rem 2rem;
      height: 3.5em;
      cursor: pointer;
      font-weight: bold;

      &:hover, &:focus {
        text-decoration: underline;
        background-color: rgba(255, 255, 255, 0.20);
        //color:black;
      }

      .loading__container {

      }


    }


  }

  .folder__container {
    position: relative;
    left: 5px;


  }
}

