.new-document-button__container {
  transition: all .5s ease-in-out;
  opacity:0;
  &.img-loaded{
    opacity:1;
  }
  //display: flex;
  //justify-content: space-between;
  button {
    &:disabled{
      opacity:0.2;
      cursor:default;
    }
    position:relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid darkslateblue;
    background: white;
    margin: 0 1rem 0.5rem;
    cursor: pointer;
    border-radius: 15px;
    .icon{
      color: navy;
      border-color:whitesmoke;
      font-size: 1.25rem;
      position: absolute;
      top: -10px;
      left: -5px;
      background: whitesmoke;
      border-radius: 50px;

    }
    &:hover:enabled, &:active:enabled {
      background-color: lightblue;
      .icon {
        color:lightblue;
        background:navy;
      }
    }
    img{
      //margin-left:0.5rem;
      width:1.25rem;
    }




  }
}