@keyframes placeHolderShimmer {
  0%   { background-position:  100%; }
  100% { background-position: -100%; }
}

$lightBlueGradiant1: rgba(173,216,230,0.25);
$lightBlueGradiant2: rgba(173,216,230,0.5);
$lightBlueGradiant3: rgba(173,216,230,0.75);
$lightBlueGradiant4: rgba(173,216,230,1);



.load-more-button{
  position: relative;
  button#btnLoadMore{
    padding:2rem;
    background-color: lightblue;
    color:blue;
    &:hover{
      background-color: #f5f5f5;
    }
    &.is-loading {
      animation: .95s linear infinite placeHolderShimmer;
      //background-color: #f5f5f5;
      background: linear-gradient(to right, $lightBlueGradiant1 0%, $lightBlueGradiant2 8%, $lightBlueGradiant3 16%, $lightBlueGradiant4 50%, $lightBlueGradiant4 58%, $lightBlueGradiant4 66%);
      background-size: 200%;
      height: 100%; width: 100%;
    }
  }
}
