.expand-collapse-icon__container {
  $icon-width: 10px;
  min-width: $icon-width;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  &:hover, &:focus {
    color:darkcyan;
  }



  .expand-collapse-icon {


    &--expanded {
      transform: rotate(90deg);
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    &--closed {
      transition: all ease 0.5s;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
  }

}