@keyframes placeHolderShimmer {
  0%   { background-position:  100%; }
  100% { background-position: -100%; }
}

$lightBlueGradiant1: rgba(173,216,230,0.25);
$lightBlueGradiant2: rgba(173,216,230,0.5);
$lightBlueGradiant3: rgba(173,216,230,0.75);
$lightBlueGradiant4: rgba(173,216,230,1);

.load-more__container {
  //color: $folderNameColor;
  //color:black;
  //border:none;
  //background-color: lightgrey;
  //width:100%;
  background:none;
  border:none;
  color:whitesmoke;
  button{
    border:1px solid gray;
    padding:0.5rem 1rem;
    background:none;
    color:whitesmoke;

    &:hover,&:focus-visible{
      cursor:pointer;
      color:darkcyan;
      border-color:darkcyan;
    }

    &.is-loading {
      animation: .35s linear infinite placeHolderShimmer;
      border:none;
      color:black;
      //background-color: #f5f5f5;
      background: linear-gradient(to right, $lightBlueGradiant1 0%, $lightBlueGradiant2 8%, $lightBlueGradiant3 16%, $lightBlueGradiant4 50%, $lightBlueGradiant4 58%, $lightBlueGradiant4 66%);
      background-size: 200%;
      //height: 100%; width: 100%;
    }

  }
  .load-more--name {
    padding-left:0.75rem;
  }
}