.loading-callout__container {
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;

  .loading-animation__container {
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 25px;

    svg {
      align-self: center;
    }
  }
}
