$bright-green:#00FF41;
$dark-green:#003B00;

$folderNameColor:#f5f5f5;
$borderColor:black;
$backgroundColor:#151b26;
$borderStyle:1px solid $borderColor;
$borderStyle:none;




.folder__container{
  //border:1px dotted red;
  //background:$backgroundColor;

  .folder--name{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    padding-left:0.5rem;
    max-width:10000px;

    .icon-folder{
      color:$folderNameColor;
      align-self: center;
      margin-right:0.5rem;
    }

    button{
      outline:none;
      display:flex;
      justify-content: flex-start;
      align-items: center;
      width:100%;

      color:$folderNameColor;
      background-color:$backgroundColor;
      text-align:left;
      border-style: none;

      &:first-of-type{
        border-top:$borderStyle;
      }

      min-height:3em;
      cursor:pointer;
      font-weight:bold;

      &:hover{
        //text-decoration: underline;
        background-color:rgba(255,255,255,0.20);
        //color:black;
      }
      &.active{
        transition:background-color .5s ease;
        background-color:lightblue;
        color:darkslategrey;
        font-style: italic;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;


      }

      .loading__container{

      }

    }


  }
  .sub-folder__container{
    position:relative;
    left:5px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

}