@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './scss/variables';
@import './scss/viewer_container';
@import './scss/preview_file';

body {
  overflow: hidden;
}

:root {
  --toolbar-height: 50px;
}

.App {
  font-family: 'Prompt', sans-serif;

  * {
    font-family: 'Prompt', sans-serif;

  }

  margin: 0;
  padding: 0;

  .is-hidden {
    display: none !important;
  }

  .opacity-none {
    opacity: 0;
  }


  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  height: 100vh;
  //max-height:100vh;
  width: 100vw;
  overflow: hidden;

  .drive-list__container {
    height: 100%;
    overflow: scroll;
  }

  .login__container {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.30); //, 0 0px 0px rgba(245,245,245,1);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    height: var(--toolbar-height);
    background: #f5f5f5;
    color: #151b26;
    @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
      display: inline-flex;
      flex-wrap: wrap;
      height: auto;
      box-shadow: none;
    }


    .signed-in-message {
      @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
        padding-top: 0.5rem;
        order: 1;
        font-size: 11px;
        width: 100%;
        height: auto;
      }
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      color: rgba(21, 27, 38, 0.60);
      max-height: 100%;
      height: 100%;

      .profile-avatar {
        height: 75%;
        border-radius: 50px;
        margin-right: 1rem;
        @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
          height: 50px;
        }
      }
    }

    .search__container {
      @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
        order: 3
      }

      position: relative;

      //width:100%;
      display: flex;
      justify-content: space-around;
      padding: 0.5rem 0.5rem;
      align-items: center;
      flex-grow: 1;

      label {
        position: absolute;
        left: 1rem;

        .icon-search {
          color: silver;

        }
      }


      input {
        flex-grow: 1;
        //max-width:75%;
        border: 1px dashed silver;

        border-radius: 25px;
        //border-bottom:1px solid silver;
        padding: 0.5rem 2rem;
        background: transparent;
        color: black;

        &:active, &:focus-visible, &:hover {
          outline: none;
          border: none;
          box-shadow: 4px 0px 20px 5px silver;
          cursor: pointer;
        }

      }
    }

    .login-button {

      @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid lightgray;
        border-radius: 15px;
        margin: 0.5rem;
        order: 2;
        height: auto;
        align-items: center;
        color: $folderListBlack;


      }
      cursor: pointer;
      padding: 0.5rem 0.75rem;
      min-width: 200px;
      height: 100%;
      border: 0;


      background: transparent;

      outline: none;

      &:hover, &:focus {
        background: rgba(255, 255, 255, 0.5);
      }

      div {
        //font-weight: bold;
        margin-left: 2rem;

      }


    }

    &.not-logged-in {
      width: 100%;
      height: 100vh;
      justify-content: center;
      z-index: 1;
      position: absolute;
      box-shadow: none;

      button.login-button {
        @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        width: 275px;
        height: 100px;
        align-self: center;
        font-weight: bold;
        font-size: 1rem;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        transition: all ease 1.5s;

        &:hover {
          color: #111;
          //background:white;
          &:after {
            transition: all ease-out .75s;
            background-color: #f5f5f5;
          }
        }

        &:before {
          content: '';
          //background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
          background: linear-gradient(45deg, $google-red, $google-yellow, $google-blue, $google-green);
          position: absolute;
          top: -2px;
          left: -2px;
          background-size: 400%;
          z-index: -1;
          filter: blur(5px);
          width: calc(100% + 8px);
          height: calc(100% + 8px);
          animation: glowing 20s linear infinite;
          opacity: 1;
          transition: opacity .3s ease-in-out;
          border-radius: 10px;
        }

        &:after {
          transition: all ease 1.5s;
          z-index: -1;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: black;
          left: 0;
          top: 0;
          border-radius: 10px;
        }
      }
    }

  }

  .viewer__container {
    @extend .viewer__container;


  }


  @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
    display: flex;
    flex-direction: column;
    > * {
      flex-shrink: 0;
    }
    background: whitesmoke;
  }


}
