.file-iframe__container {
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  //height:calc(60% + 0px);
  //width:700px;
  max-width: 95vw;
  width: 0;
  height: 95%;
  border-bottom-left-radius: 15px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  //width:10%;
  position: absolute;
  right: 0;
  top: var(--toolbar-height);
  //border:1px solid red;
  //transform:scaleX(1) scaleY(1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.30); //, 0 0px 0px rgba(245,245,245,1);

  &.is-activated {
    width: 50%;

  }

  &.is-maximized {

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.30);
    width: calc(99% + 0px);
    max-width: 99vw;
    height: calc(95% + 0px);
    position: absolute;
    right: 0;
  }


  .iframe-toolbar__container {
    background: #f5f5f5;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .maximize-window-link, .close-window-link {
      align-self: center;
      background-color: #f5f5f5;
      border: 1px solid silver;
      border-radius: 5px;
      margin-right: 10px;
      padding: 3px;
      cursor: pointer;

      &:hover, &:focus {
        background: white;
      }
    }
  }

  iframe {
    border: none;
    position: relative;
    //width: 100%;
    //height: 98%;
  }
}

@media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
  .file-iframe__container {
    left:-5px;
    bottom:0;


    &.close-button {
      display: none;
    }

    &.is-activated {
      @extend .mobile-overlay-container;
      max-width: calc(100vw - 10px);
      width: calc(100vw - 10px);
      left: -5px;
      top: -5vh;
      height: 95vh;

      &.close-button {
        @include close-button()
      }

    }


    .iframe-toolbar__container {
      display: none;
    }

    iframe {
      @extend .mobile-overlay-child-fix;
    }
  }

}