$google-blue: #4285F4;
$google-red: #DB4437;
$google-yellow: #F4B400;
$google-green: #0F9D58;
$backgroundColor: white;
$whitesmoke: #f5f5f5;
$folderListBlack: #151b26;
$mobile-width-breakpoint: 500px;

$overlay-border-radius: 25px;
$overlay-border-width: 5px;
@media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
  .mobile-overlay-container {
    border-top-left-radius: $overlay-border-radius;
    border-top-right-radius: $overlay-border-radius;
    border: $overlay-border-width solid silver;

  }

  .mobile-overlay-child-fix {
    border-radius: $overlay-border-radius;
    border: 0px;

  }
}

@mixin close-button($display: none){
  display: $display;
  //display: block;
  border: 3px solid silver;
  border-radius: 30px;
  cursor: pointer;
  color: darkgray;
  font-size: 20px;
  padding: 2px 11px;
  background: white;
  position: absolute;
  right: 5px;
  //right: calc(50% - 10px);
  top: -20px;

}

