
.viewer__container {
  text-align: center;
  display: flex;
  height: calc(100vh - var(--toolbar-height));
  transition: opacity 0.5s ease-in-out;
  background: whitesmoke;


  button.toggle-folders {
    display: none;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 0.25rem;
    margin: 0.5rem;
    @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
      display: block;
      margin: 0.25rem 1rem;

    }
  }

  &.is-loading {
    opacity: 0.20;
  }

  .main-folder-list__container {


    padding-top: 1rem;
    width: 20%;
    overflow: scroll;
    background-color: $folderListBlack;


    .drive-list__container {

      height: 100%;
      overflow: scroll;
      @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
        //height: 100px;
      }


      .folder-list__container {
        @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
          -ms-overflow-style: none; /* for Internet Explorer, Edge */
          scrollbar-width: none; /* for Firefox */

          &::-webkit-scrollbar {
            display: none;
          }
        }


        .folder__container {
          @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
            min-height: 44px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
          }
        }

        @keyframes hideUp {
          from {
            height: 500px;
            opacity: 1;
          }
          to {
            opacity: 0;
            height: 0;
          }
        }

        @keyframes showDown {
          from {
            //max-height:0;
            opacity: 0;
            //eight:0;
          }
          to {
            opacity: 1;
            //height:fit-content;

          }
        }
        overflow: scroll;

        &.hide-up {
          animation: hideUp .5s;
          height: 0;
        }

        &.show-down {
          animation: showDown 0.5s;
          //opacity:1;
          //max-height:100%;
        }
      }

    }

    //height:100%;


    @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
      button.toggle-folders {
        display: block;
      }
      transition: all 1s ease;
      height: 35%;
      width: 100%;
      display: block;
      &.hidden {
        display: none;
      }


    }

    //background-color:red;
  }

  .files__container {
    background-color: $backgroundColor;
    max-width: 80%;
    flex-grow: 1;
    box-shadow: 5px 5px 5px lightgrey;

    .close-button {
      display: none;
    }

    .new-window-link {
      color: silver;
    }

    .no-file__container {
      display: flex;
      justify-content: center;
      height: 100%;
      @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
        height: auto;

      }

      .no-file {
        align-self: center;
        color: silver;
        opacity: 0.25;
        font-size: 3rem;
        text-transform: uppercase;
        //border:1px solid red;
      }
    }

    .file-listing__container {
      .no-drive-selected__container {
        background: white;
        text-align: center;
      }

      height: 95vh;
      background-color: white;
      //overflow: scroll;

      $toolbarHeight: 3%;

      &--toolbar__container {
        h2 {
          padding: 0.25rem;

        }

        background-color: $whitesmoke;
        color: silver;
        text-align: left;

        &--folder-name__container {
          display: flex;
          padding: 0rem;
          margin: 0;
          border-bottom: 1px solid whitesmoke;
          justify-content: center;
          align-items: center;
          background: silver;
          color: whitesmoke;

          h2 {
            margin: 0 0.5rem 0 0;
            @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
              font-size: 100%;
            }
          }

          .new-window-link {
            color: whitesmoke;
          }
        }


        &--new-files__container {
          background-color: $whitesmoke;
          box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.30);
          display: flex;
          align-items: center;
          margin-left: auto;
          flex-wrap: wrap;
          padding: 0.25rem;
          justify-content: center;

          &--new-google-file-button__container {
            display: flex;
            //flex-direction:row-reverse;


            &.new-google-file-button__container {
              display: flex;
            }

            @media only screen and (min-width: 0) and (max-width: 964px) {
              padding: 0.25rem 0;
              //align-items: center;
            }

          }

          .file-upload-container {
            .drop-zone {
              &.is-disabled {
                opacity: 0.2;
                cursor: default;

                &:hover, &:active {
                  background-color: unset;
                }
              }

              display: flex;
              align-items: center;
              padding: .5rem 2rem;
              border: 1px dashed darkslateblue;
              background: white;
              margin: 0 1rem 0.5rem;
              cursor: pointer;
              border-radius: 15px;

              &:hover, &:active {
                background-color: lightblue;
              }
            }
          }

        }


        @media only screen and (min-width: 0) and (max-width: 964px) {
          padding-top: 1.25rem;
        }


      }


      &--files__container {
        @media only screen and (min-width: 0) and (max-width: 964px) {
          //height:50vh;
        }
        overflow: scroll;
        height: 83%;

        .file__container {

          width: 100%;
          border: none;
          border-bottom: 1px solid #f5f5f5;
          display: flex;
          justify-content: flex-start;

          button.delete-file-link {
            -webkit-user-select: all; /* Chrome 49+ */
            -moz-user-select: all; /* Firefox 43+ */
            -ms-user-select: all; /* No support yet */
            user-select: all;

            &:disabled {
              opacity: 0.2;
              cursor: default;
            }

            img {
              margin: 0 1rem;
            }

            color: red;
            border: none;
            outline: none;
            justify-content: space-between;
            min-height: 44px;
            background: transparent;
            height: 1.75rem;
            cursor: pointer;

            &:hover:enabled {
              color: white;
              background: red;
            }

            margin-right: 1rem;

          }

          button:not(.delete-file-link) {
            min-height: 44px;
            @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {

              justify-content: space-between;

            }
            -webkit-user-select: all; /* Chrome 49+ */
            -moz-user-select: all; /* Firefox 43+ */
            -ms-user-select: all; /* No support yet */
            user-select: all;
            display: flex;
            align-items: center;

            img {
              margin: 0 1rem;
            }

            outline: none;
            width: 100%;
            border: none;
            background: transparent;
            height: 1.75rem;
            cursor: pointer;

            &:hover, &:focus {
              background-color: #f5f5f5;
            }

            .new-window-link {
              margin-left: 5px;
            }

            .last-modified-container {
              font-style: italic;
              color: darkgray;
              margin-left: 1rem;
              @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
                display: none;
              }
            }
          }

        }

      }

      &--footer {
        background: white;
        height: 12%;
        //box-shadow: 0px -8px 20px 0px rgba(0,0,0,0.30);
      }

    }

    .file-iframe__container {
      @extend .file-iframe__container;
    }


  }

  @media only screen and (min-width: 0) and (max-width: $mobile-width-breakpoint) {
    background: $folderListBlack;
    display: flex;
    flex-direction: column;
    height: 0px;
    flex-grow: 1;
    overflow: scroll;
    //border: 0px solid transparent;
    //border-top-right-radius: 25px;
    //border-top-left-radius: 25px;

    //border-top-left-radius: 25px;
    //border-top-right-radius: 25px;
    //border: 7px solid;

    .main-folder-list__container {
      margin-top: 1px;
      height: 100%;
      overflow: hidden;
      padding-top: 0;

      .drive-list__container {
        .drive__container {

        }
      }
    }
    .files__container {

      height: 0;
      max-height: 100%;
      overflow: hidden;
      align-self: center;
      transition: height 0.75s ease-out;
      max-width: calc(100% - 10px);
      position: absolute;
      bottom: -10rem;
      @extend .mobile-overlay-container;
      //border-radius:25px;
      //border-left:none;
      //border-right:none;
      border-bottom: 5px solid silver;


      &.expanded {
        overflow: visible;
        height: 90vh;
        box-shadow: 0px 0 20px 20px lightgrey;
        bottom: 0;


        .close-button {
          @include close-button(block);
        }


      }

      .file-iframe__container {
        .close-button{
          @include close-button(none);
        }
        &.is-activated {
          .close-button {
            @include close-button(block);
            z-index:1;
          }

        }

        //.close-button{
        //  display:none;
        //}
      }

      .file-listing__container {
        @extend .mobile-overlay-child-fix;
        height: 100%;
        display: flex;
        flex-direction: column;

        &--toolbar__container {

          @extend .mobile-overlay-child-fix;

          &--new-files__container {

            &--new-google-file-button__container {

              .new-document-button__container {

                button {

                  svg, img {

                  }
                }
              }
            }

            .file-upload-container {

            }
          }

          &--folder-name__container {
            width: 100%;

            h2 {
              font-size: 1.25rem;
            }
          }

          .no-drive-selected__container {

            h2 {

            }

          }
        }

        &--files__container {
          height: auto;
          overflow-y: scroll;
          &.no-files{
            margin:auto 0;
          }
          //margin:auto 0;
          //border-bottom:5px solid silver;

        }

        &--footer {
          display: none;
        }


      }
    }




  }


}

